<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrar consultorios</title>
</head>
<body>

<!-- Formulario de médico -->
<h2>Registrar Consultorio</h2>
<form action="/addOffice" method="post">
    <label for="officeNumber">Numero de consultorio:</label>
    <input type="number" id="officeNumber" name="officeNumber" required><br><br>

    <label for="floor">Piso:</label>
    <input type="number" id="floor" name="floor" required><br><br>

    <input type="submit" value="Registrar">
</form>

</body>
</html>